@model dynamic
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DMA (Pty) Ltd</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand pt-0" href="@Url.Action("Index","Home")">
                <h1>DMA (Pty) Ltd</h1>
            </a>
            <!-- User -->
            <ul class="nav align-items-center d-md-none">
                @Html.Partial("_LoginPartial")
            </ul>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html">
                                <h1>DMA (Pty) Ltd</h1>
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-tosggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Form -->
                <form class="mt-4 mb-3 d-md-none">
                    <div class="input-group input-group-rounded input-group-merge">
                        <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="@Url.Action("Index","Home")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-percent text-primary"></i>Market&nbsp;<i class="fa fa-chevron-down text-primary"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <a class="nav-link" href="@Url.Action("Index","MostActive")">Most Active Stock Companies</a>
                            <a class="nav-link" href="@Url.Action("Index","MostGainer")">Most Gainer Stock Companies</a>
                            <a class="nav-link" href="@Url.Action("Index","MostLoser")">Most Loser Stock Companies</a>
                        </div>

                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="@Url.Action("Index","CompanyValuation")">
                            <i class="fas fa-chart-bar text-blue"></i> Company Valuation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="@Url.Action("Index","StockChart")">
                            <i class="fas fa-chart-pie text-orange"></i> Stock Chart
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main-content">
        <!-- Navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="@Url.Action("Index","CompanyValuation")">Company Profile</a>
                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
        @foreach (var item in Model.CompanyProfile)
        {
            <!-- Header -->
            <div class="header  pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../../../Content/img/stock-exchange-913956_1920.jpg); background-size: cover; background-position: center top;">
                <!-- Mask -->
                <span class="mask bg-gradient-default opacity-8"></span>
                <!-- Header container -->
                <div class="container-fluid d-flex align-items-center">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h1 class="display-2 text-white">@item.companyName</h1>
                            <p class="text-white mt-0 mb-5">Industry - <span>@item.industry</span></p>
                            <p class="text-white mt-0 mb-5">Exchange - <span>@item.exchange</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt--7">
                <div class="row">
                    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                        <div class="card card-profile shadow">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 order-lg-2">
                                    <div class="card-profile-image">
                                        <a href="#">
                                            <img src="@item.image" class="rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0 pt-md-4">
                                <div class="row">
                                    <div class="col">
                                        <div class="card-profile-stats d-flex justify-content-center mt-md-5 mt-5 pt-5">
                                            <div>
                                                <span class="heading">@item.changes</span>
                                                <span class="description">Changes</span>
                                            </div>
                                            <div>
                                                <span class="heading">@item.price</span>
                                                <span class="description">Price</span>
                                            </div>
                                            <div>
                                                <span class="heading">@item.changesPercentage</span>
                                                <span class="description">Change Percentage</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h3>
                                        @item.ceo
                                    </h3>
                                    <div class="h5 font-weight-300">
                                        <i class="ni location_pin mr-2"></i>CEO
                                    </div>
                                    <div class="h5 mt-4">
                                        <i class="fas fa-briefcase mr-2"></i><span class="font-weight-light">Sector</span> - @item.sector
                                    </div>
                                    <div>
                                        <i class="ni education_hat mr-2"></i>@item.companyName
                                    </div>
                                    <hr class="my-4" />
                                    <p>@item.description</p>
                                    <a href="@item.website"><span>Read more:</span> @item.website</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 order-xl-1">
                        <div class="accordion" id="accordionExample">
                            <div class="card bg-secondary shadow">
                                <div class="card-header bg-white border-0" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Company Financial Statements
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="accordion" id="innerExample">
                                            @if (Model.CompanyFinancials.Count == 0)
                                            {
                                                <div class="card-header bg-white border-0" id="headingTwo">
                                                    <h2 class="mb-0">
                                                        No data
                                                    </h2>
                                                </div>
                                            }
                                            else
                                            {
                                                foreach (var fin in Model.CompanyFinancials)
                                                {
                                                    <div class="card-header bg-white border-0" id="headingOne">
                                                        <h2 class="mb-0">
                                                            <button class="btn btn-outline-dark collapsed" type="button" data-toggle="collapse" data-target="#innerTwo" aria-expanded="true" aria-controls="innerTwo">
                                                                @fin.date
                                                            </button>
                                                        </h2>
                                                    </div>
                                                    <div id="innerTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#innerExample">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Revenue:</label>
                                                                        @fin.Revenue
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Revenue Growth:</label>
                                                                        @fin.RevenueGrowth
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Cost of Revenue:</label>
                                                                        @fin.CostOfRevenue
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Gross Profit:</label>
                                                                        @fin.GrossProfit
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">R&D Expenses:</label>
                                                                        @fin.RandDExpenses
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">SG&A Expense:</label>
                                                                        @fin.SGandAExpense
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Operating Expenses:</label>
                                                                        @fin.OperatingExpenses
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Operating Income:</label>
                                                                        @fin.OperatingIncome
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Interest Expense:</label>
                                                                        @fin.InterestExpense
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Earnings before Tax:</label>
                                                                        @fin.EarningsbeforeTax
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Income Tax Expense:</label>
                                                                        @fin.IncomeTaxExpense
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Net Income - Non-Controlling int:</label>
                                                                        @fin.NetIncomeNonControllingint
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Net Income - Discontinued ops:</label>
                                                                        @fin.NetIncomeDiscontinuedops
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Net Income:</label>
                                                                        @fin.NetIncome
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Preferred Dividends:</label>
                                                                        @fin.PreferredDividends
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Net Income Com:</label>
                                                                        @fin.NetIncomeCom
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">EPS:</label>
                                                                        @fin.EPS
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">EPS Diluted:</label>
                                                                        @fin.EPSDiluted
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Weighted Average Shs Out:</label>
                                                                        @fin.WeightedAverageShsOut
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Weighted Average Shs Out (Dil):</label>
                                                                        @fin.WeightedAverageShsOutDil
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Dividend per Share:</label>
                                                                        @fin.DividendperShare
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Gross Margin:</label>
                                                                        @fin.GrossMargin
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">EBITDA Margin:</label>
                                                                        @fin.EBITDAMargin
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">EBIT Margin:</label>
                                                                        @fin.EBITMargin
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Profit Margin:</label>
                                                                        @fin.ProfitMargin
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Free Cash Flow margin:</label>
                                                                        @fin.FreeCashFlowmargin
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">EBITDA:</label>
                                                                        @fin.EBITDA
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">EBIT:</label>
                                                                        @fin.EBIT
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Consolidated Income:</label>
                                                                        @fin.ConsolidatedIncome
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Earnings Before Tax Margin:</label>
                                                                        @fin.EarningsBeforeTaxMargin
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-control-label">Net Profit Margin:</label>
                                                                        @fin.NetProfitMargin
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-secondary shadow">
                                <div class="card-header bg-white border-0" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Company Financial Growth
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        @if (Model.CompanyFinancialGrowth.Count == 0)
                                        {
                                            <div class="card-header bg-white border-0" id="headingTwo">
                                                <h2 class="mb-0">
                                                    No data
                                                </h2>
                                            </div>
                                        }
                                        else
                                        {
                                            foreach (var finGro in Model.CompanyFinancialGrowth)
                                            {
                                                <div class="card-header bg-white border-0" id="headingTwo">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-outline-dark collapsed" type="button" data-toggle="collapse" data-target="#innerThree" aria-expanded="true" aria-controls="innerThree">
                                                            @finGro.date
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="innerThree" class="collapse" aria-labelledby="headingTwo" data-parent="#innerExample">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Gross Profit Growth:</label>
                                                                    @finGro.GrossProfitGrowth
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">EBIT Growth:</label>
                                                                    @finGro.EBITGrowth
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Operating Income Growth:</label>
                                                                    @finGro.OperatingIncomeGrowth
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Net Income Growth:</label>
                                                                    @finGro.NetIncomeGrowth
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">EPS Growth:</label>
                                                                    @finGro.EPSGrowth
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">EPS Diluted Growth:</label>
                                                                    @finGro.EPSDilutedGrowth
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Weighted Average Shares Growth:</label>
                                                                    @finGro.WeightedAverageSharesGrowth
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Weighted Average Shares Diluted Growth:</label>
                                                                    @finGro.WeightedAverageSharesDilutedGrowth
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Dividends per Share Growth:</label>
                                                                    @finGro.DividendsperShareGrowth
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Operating Cash Flow growth:</label>
                                                                    @finGro.OperatingCashFlowgrowth
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Free Cash Flow growth:</label>
                                                                    @finGro.FreeCashFlowgrowth
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">10Y Revenue Growth (per Share):</label>
                                                                    @finGro.tenYRevenueGrowthperShare
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">5Y Revenue Growth (per Share):</label>
                                                                    @finGro.fiveYRevenueGrowthperShare
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">3Y Revenue Growth (per Share):</label>
                                                                    @finGro.threeYRevenueGrowthperShare
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">10Y Operating CF Growth (per Share):</label>
                                                                    @finGro.tenYOperatingCFGrowthperShare
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">5Y Operating CF Growth (per Share):</label>
                                                                    @finGro.fiveYOperatingCFGrowthperShare
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">3Y Operating CF Growth (per Share):</label>
                                                                    @finGro.threeYOperatingCFGrowthperShare
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">10Y Net Income Growth (per Share):</label>
                                                                    @finGro.tenYNetIncomeGrowthperShare
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">5Y Net Income Growth (per Share):</label>
                                                                    @finGro.fiveYNetIncomeGrowthperShare
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">3Y Net Income Growth (per Share):</label>
                                                                    @finGro.threeYNetIncomeGrowthperShare
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">10Y Shareholders Equity Growth (per Share):</label>
                                                                    @finGro.tenYShareholdersEquityGrowthperShare
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">5Y Shareholders Equity Growth (per Share):</label>
                                                                    @finGro.fiveYShareholdersEquityGrowthperShare
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">3Y Shareholders Equity Growth (per Share):</label>
                                                                    @finGro.threeYShareholdersEquityGrowthperShare
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">10Y Dividend per Share Growth (per Share):</label>
                                                                    @finGro.tenYDividendperShareGrowthperShare
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">5Y Dividend per Share Growth (per Share):</label>
                                                                    @finGro.fiveYDividendperShareGrowthperShare
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">3Y Dividend per Share Growth (per Share):</label>
                                                                    @finGro.threeYDividendperShareGrowthperShare
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Receivables growth:</label>
                                                                    @finGro.Receivablesgrowth
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Inventory Growth :</label>
                                                                    @finGro.InventoryGrowth
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Asset Growth :</label>
                                                                    @finGro.AssetGrowth
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Book Value per Share Growth :</label>
                                                                    @finGro.BookValueperShareGrowth
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">Debt Growth :</label>
                                                                    @finGro.DebtGrowth
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">R&D Expense Growth :</label>
                                                                    @finGro.RNDExpenseGrowth
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">SG&A Expenses Growth :</label>
                                                                    @finGro.SGNAExpensesGrowth
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Company Rating
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        @if (Model.CompanyRateRating.Count == 0)
                                        {
                                            <div class="card-header bg-white border-0" id="headingTwo">
                                                <h2 class="mb-0">
                                                    No data
                                                </h2>
                                            </div>
                                        }
                                        else
                                        {
                                            foreach (var rating in Model.CompanyRateRating)
                                            {
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Score :</label>
                                                            @rating.score
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Rating :</label>
                                                            @rating.rating
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Recommendation :</label>
                                                            @rating.recommendation
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <h2>Rating Details</h2>
                                        <h3>P/B</h3>
                                        @if (Model.CompanyRateRatingDetails.Count == 0)
                                        {
                                            <h6 class="mb-0">
                                                No data
                                            </h6>
                                        }
                                        else
                                        {
                                            foreach (var ratingD in Model.CompanyRateRatingDetails)
                                            {
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Score :</label>
                                                            @ratingD.score
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Rating :</label>
                                                            @ratingD.recommendation
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <h3>ROA</h3>
                                        @if (Model.CompanyRateRatingDetails1.Count == 0)
                                        {
                                            <h6 class="mb-0">
                                                No data
                                            </h6>
                                        }
                                        else
                                        {
                                            foreach (var ratingD in Model.CompanyRateRatingDetails1)
                                            {
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Score :</label>
                                                            @ratingD.score
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Rating :</label>
                                                            @ratingD.recommendation
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <h3>DCF</h3>
                                        @if (Model.CompanyRateRatingDetails2.Count == 0)
                                        {
                                            <h6 class="mb-0">
                                                No data
                                            </h6>
                                        }
                                        else
                                        {
                                            foreach (var ratingD in Model.CompanyRateRatingDetails2)
                                            {
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Score :</label>
                                                            @ratingD.score
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Rating :</label>
                                                            @ratingD.recommendation
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <h3>P/E</h3>
                                        @if (Model.CompanyRateRatingDetails3.Count == 0)
                                        {
                                            <h6 class="mb-0">
                                                No data
                                            </h6>
                                        }
                                        else
                                        {
                                            foreach (var ratingD in Model.CompanyRateRatingDetails3)
                                            {
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Score :</label>
                                                            @ratingD.score
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Rating :</label>
                                                            @ratingD.recommendation
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <h3>ROE</h3>
                                        @if (Model.CompanyRateRatingDetails4.Count == 0)
                                        {
                                            <h6 class="mb-0">
                                                No data
                                            </h6>
                                        }
                                        else
                                        {
                                            foreach (var ratingD in Model.CompanyRateRatingDetails4)
                                            {
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Score :</label>
                                                            @ratingD.score
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Rating :</label>
                                                            @ratingD.recommendation
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <h3>D/E</h3>
                                        @if (Model.CompanyRateRatingDetails5.Count == 0)
                                        {
                                            <h6 class="mb-0">
                                                No data
                                            </h6>
                                        }
                                        else
                                        {
                                            foreach (var ratingD in Model.CompanyRateRatingDetails5)
                                            {
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Score :</label>
                                                            @ratingD.score
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label">Rating :</label>
                                                            @ratingD.recommendation
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Company Stock Chart
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <canvas id="myChart" width="400" height="400"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="row align-items-center justify-content-xl-between">
                        <div class="col-xl-12">
                            <div class="copyright text-center text-xl-left text-muted">
                                &copy; @DateTime.Now.Year - DMA (Pty) Ltd
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/main.js"></script>
    <script src="~/Content/chart.js/dist/Chart.min.js"></script>
    <script>
    $(function () {
        var data = JSON.parse('@Html.Raw(Json.Encode(ViewData["StockChart"]))')
        var date = [];
        var close = [];
        for (var i in data) {
            date.push(data[i].date);
            close.push(data[i].close);
        }
        var chartData = {
            labels: date,
        datasets: [
                {
                    label: 'Stock Chart/ Close',
                    backgroundColor: '#5e72e4 ',
                    borderColor: '#825ee4',
                    hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
                    hoverBorderColor: 'rgba(200, 200, 200, 1)',
                    data: close
                }
            ]}

        var ctx = $('#myChart')
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: chartData
        });
    });
    </script>
</body>
</html>
